
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link href="../css/style.css" rel = "stylesheet"/>
  <link href="../css/dashboard.css" rel="stylesheet">
  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="profile.controller.js"></script>

  <div >

<h1>Profile</h1>

<input  ng-model="currentUser.username"  class="form-control" placeholder="username"/>
<input  ng-model="currentUser.password"  class="form-control" placeholder="password"  type="password"/>
<input  ng-model="currentUser.password2" class="form-control" placeholder="password2" type="password"/>
<input  ng-model="currentUser.email"     class="form-control" placeholder="email"     type="email"/>
<input  ng-model="currentUser.firstName" class="form-control" placeholder="first name"/>
<input  ng-model="currentUser.lastName"  class="form-control" placeholder="last name"/>
<button ng-click="controller.update(currentUser)" class="btn btn-primary btn-block">
  Update
</button>
  </div>


  </div>
  </div>